.main-banner
  = image_tag "illustration.png", class: 'image'
  = image_tag "illustration.png", class: 'image'
  
  .banner-texts
    .title oni
    .title janoras
    .meta 13 years of experience in design

.container
  = render "shared/nav"