.banner-bottom {
  position: absolute;
  top: 9em;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  > .image:nth-child(1) {
    position: absolute;
    width: 100%;
  }

  > .image:nth-child(2) {
    position: absolute;
    margin-top: 165px;
    margin-left: 0.2em;
  }
}

.links {
  position: absolute;
  top: 40em;
  z-index: 1000;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro {
  text-align: center;
  font-weight: 500;
  margin-top: 20px;
}