.banner-texts {
  position: absolute;
  top: 19em;
  text-align: center;

  > .title:nth-child(1) {
    font-size: 15em;
    letter-spacing: 0.7em;
    font-weight: 500;
    padding-left: 75px;
  }

  > .title:nth-child(2) {
    font-size: 1.5em;
    letter-spacing: 3.6em;
    margin-top: -48px;
    font-weight: 600;
    text-transform: uppercase;
  }

  > .links {
    margin-top: 7em;
  }
}